@model IEnumerable<Shirt>?

<div asp-validation-summary="All" class="text-danger"></div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" class="text-white">Brand</th>
        <th scope="col" class="text-white">Color</th>
        <th scope="col" class="text-white">Size</th>
        <th scope="col" class="text-white">Gender</th>
        <th scope="col" class="text-white">Price</th>
        <th scope="col" class="text-white">Data manipulation</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Shirt shirt in Model ?? (new List<Shirt>()))
    {
        <tr>
            <td class="text-white" style="width: 20%">@shirt.Brand</td>
            <td class="text-white" style="width: 20%">@(shirt.Color ?? "None")</td>
            <td class="text-white" style="width: 10%">@shirt.Size</td>
            <td class="text-white" style="width: 10%">@shirt.Gender</td>
            <td class="text-white" style="width: 20%">@shirt.Price.ToString("c")</td>
            <td class="text-white" style="width: 20%">
                <div class="btn-group" role="group">
                    <a asp-area="" asp-controller="Shirt" asp-action="Update" asp-route-id="@shirt.Id" class="btn btn-warning px-4">Edit</a>
                    <a asp-area="" asp-controller="Shirt" asp-action="Delete" asp-route-id="@shirt.Id" class="btn btn-danger">Delete</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
<br/>
<a asp-area="" asp-controller="Shirt" asp-action="Create" class="btn btn-primary">Create</a>